<form class="" action="/contacts" method="post">
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name">
  </div>
  <div class="form-group">
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name">
  </div>
  <div class="form-group">
    <label for="job">Job:</label>
    <input type="text" name="job">
  </div>
  <div class="form-group">
    <label for="company">Company:</label>
    <input type="text" name="company">
  </div>
  <button type="submit" name="button">Add Contact</button>
</form>
