<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/styles.css" media="screen" title="no title" charset="utf-8">
    <title>Professional Contacts</title>
  </head>
  <body>
    <div class="container">
      <h1>Professional Contacts</h1><br>
      <%= yield %>
      <div class="no-float">
        <hr>
        <a href="/">Home</a><br>
        <a href="/contacts">Contacts</a>
      </div>
    </div>
  </body>
</html>
